# Arithmetic Operators

In [25]:
# Addition
a=12
b=13
c=a+b
print(c)

25

In [2]:
# Subtraction
a=25
b=12
c=a-b
print(c)

13

In [3]:
# Multiplication
x=5
y=3
z=x*y
print(z)

15

In [4]:
# Division
x=20
y=5
z=x/y
print(z)

4.0

In [5]:
# Modulus
a=10
b=3
c=a%b
print(c)

1

In [6]:
# Floor Division
a=10
b=3
c=a//b
print(c)

3

# Variables -Type(), id() etc

In [8]:
x=56
print(type(x))
print(id(x))

<class 'int'>
140724514270736

In [9]:
x="Anza"
print(type(x))
print(id(x))

<class 'str'>
2541073312624

In [10]:
x=56.8
print(type(x))
print(id(x))

<class 'float'>
2541073376400

In [11]:
hex(id(x))

'0x24fa3c6a490'

In [11]:
x=55
print(type(x))
print(id(x))

<class 'int'>
140724867771888

In [12]:
x="A"
print(type(x))
print(id(x))

<class 'str'>
2184420594800

In [13]:
x=55
print(type(x))
print(id(x))

<class 'int'>
140724867771888

In [14]:
x=55.55
print(type(x))
print(id(x))

<class 'float'>
2184493045360

In [15]:
hex(id(x))

'0x1fc9dee9670'

#  Keyword

In [25]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [26]:
len(keyword.kwlist)

35

# Print

In [1]:
print("my name is Anza")

my name is Anza

In [2]:
s="My name is Anza"
s

'My name is Anza'

In [3]:
print(s)

My name is Anza

# Multiple Assignments

In [16]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [19]:
a=b=c=d=6
print(a,b,c,d)

6 6 6 6

In [20]:
a,b,c=1,4.5,'hello'
print(a)
print(b)
print(c)

1
4.5
hello

In [21]:
x=input('enter the number')
y=input("enter the number")
z=x+y
print(z)

enter the number67
enter the number78
6778

In [21]:
a=input('Enter the number')
b=input('Enter the number')
c=input('Enter the number')
d=input('Enter the number')
e=input('Enter the number')
x=a+b+c+d+e
print(x)

Enter the number1
Enter the number2
Enter the number3
Enter the number4
Enter the number5
12345

In [6]:
# Swapping
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
print("Before Swap",a)
print("Before Swap",b)
a=a+b
b=a-b
a=a-b
print('After Swap',a)
print('After Swap',b)

Enter the first number10
Enter the second number20
Before Swap 10
Before Swap 20
After Swap 20
After Swap 10

In [27]:
# Power of a Number
a=int(input("Enter the number"))
b=int(input("Enter the power"))
c=a**b
print(c)

Enter the number2
Enter the power3
8

In [ ]:
# Power of number using while loop
a=int(input("Enter the base"))
b=int(input("Enter the exponent"))
c=1
while b!=0:
    c=a*c
    b=b-1
else:  
 print(c)

In [9]:
# Reverse of a number
a=int(input('Enter the number'))
print('before',a)
Dig1=a%10
Dig2=a//10
b=Dig1*10+Dig2
print('After reversing',b)

Enter the number14
before 14
After reversing 41

In [17]:
#Volume of Sphere
radius=float(input('Enter the radius: '))
vol=(4/3)*3.1416*(radius*radius*radius)
print(vol)

Enter the radius: 4
268.0832

In [18]:
#Volume of cube
a=int(input('Enter the length: '))
V=a*a*a
print(V)

Enter the length: 5
125

In [19]:
#Volume of Cylinder
r=float(input("Enter the radius: "))
h=float(input("Enter the height: "))
V=3.14*r*r*h
print(V)

Enter the radius: 3
Enter the height: 7
197.82

In [20]:
#Circumference of a Circle
r=float(input('Enter the radius: '))
p=2*3.14*r
print(p)

Enter the radius: 4
25.12

In [23]:
#Perimeter of a Rectangle
l=float(input('Enter the length: '))
w=float(input('Enter the width: '))
p=2*(l+w)
print(p)

Enter the length: 3
Enter the width: 5
16.0

In [26]:
#Perimeter of a Rectangle with Unit
l=float(input('Enter the length: '))
w=float(input('Enter the width: '))
p=2*(l+w)
print(p,"m^3")

Enter the length: 3
Enter the width: 2
10.0 m^3

# If Else Programs

In [4]:
#Leap year
year=int(input("Enter the year"))
if (year%4)==0:
    if (year%100)==0:
        if (year%400)==0:
            print("Leap year")
        else:
            print("Not a leap year")
    else:
        print("Leap year")
else:
    print("Not a leap year")

Enter the year2007
Not a leap year

In [13]:
# Number to Day
x=int(input("Enter the number"))
if x==1:
    print("Sunday")
elif x==2:
    print("Monday")
elif x==3:
    print("Tuesday")
elif x==4:
    print('Wednesday')
elif x==5:
    print("Thursday")
elif x==6:
    print("Friday")
elif x==7:
    print("Saturday")
else:
    print("Enter numbers from 1 to 7 only ")

Enter the number7
Saturday

In [18]:
# Grade
m=int(input("Enter the mark"))
if m>=90:
    print("A")
elif m>=75 and m<90:
    print("B")
elif m>=65 and m<75:
    print("C")
elif m>=55 and m<65:
    print("D")
else:
    print("F")

Enter the mark50
F

In [27]:
#Calculator
x=input("Enter the operator")
a=int(input("Enter the input "))
b=int(input("Enter the input "))
if x=="+":
    print(a+b)
elif x=="-":
    print(a-b)
elif x=="*":
    print(a*b)
elif x=="/":
    print(a//b)
else:
    print('null')

Enter the operator/
Enter the input 15
Enter the input 3
5

In [13]:
# Hacker rank problem Weird for Odd Number
n=int(input('Enter the number: '))
if n%2!=0:
    print("Weird")
elif n%2==0 and 6<=n<=20:
    print("Weird")
else:
    print("Not weird")

Enter the number: 24
Not weird

In [18]:
# Hacker Rank Problem (Same as above)
n=int(input("Enter the number "))
if n%2!=0:
    print("Weied")
else:
    if n>=2 and n<=5:
        print("Not weird")
    elif n>=6 and n<=20:
        print("Weird")
    elif n>20:
        print("Not weird")

Enter the number 24
Not weird

In [32]:
#Greatest Number
a=int(input("Enter the number "))
b=int(input("Enter the number "))
c=int(input("Enter the number "))`
if a>b and a>c:
    print("Greatest number is: ",a)
elif b>a and b>c:
     print("Greatest number is: ",b)
else:
     print("Greatest number is: ",c)

Enter the number 45
Enter the number 22
Enter the number 87
Greatest number is:  87

In [35]:
# Bonus for Salary > 10000
Salary=int(input("Enter the amount, "))
if Salary>10000:
    Bonus=Salary*(10/100)
    print("Salary with Bonus", Salary,Bonus,Salary+Bonus)
else:
    print("Not eligible for Bonus", Salary)

Enter the amount, 20000
Salary with Bonus 20000 2000.0 22000.0

In [39]:
# Number to Corresponding Month
Month=int(input("Enter the number between 1 & 12: "))
if Month==1:
    print("JAN")
elif Month==2:
    print("FEB")
elif Month==3:
    print("MAR")
elif Month==4:
    print("APR")
elif Month==5:
    print("MAY")
elif Month==6:
    print("JUNE")
elif Month==7:
    print("JULY")
elif Month==8:
    print("AUG")
elif Month==9:
    print("SEP")
elif Month==10:
    print("OCT")
elif Month==11:
    print("NOV")
elif Month==12:
    print("DEC")
else:
    print("Enter number between 1 & 12 only")

Enter the number between 1 & 12: 3
MAR

In [42]:
# Eligibility to vote
age=int(input("Enter your age: "))
if age>=18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 18
You are eligible to vote.

In [43]:
# Ascendind Order
a=int(input("Enter the number "))
b=int(input("Enter the number "))
c=int(input("Enter the number "))
if a>b:
    a,b=b,a
if a>c:
    a,c=c,a
if b>c:
    b,c=c,b
print(a,b,c)

Enter the number 40
Enter the number 10
Enter the number 30
10 30 40

In [45]:
# Check if 2 numbers are equal
a=int(input("Enter the number "))
b=int(input("Enter the number "))
if a==b:
    print("The numbers are equal")
else:
    print("The numbers are not equal")

Enter the number 2
Enter the number 2
The numbers are equal

# Loop

In [1]:
# Print 10 numbers
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
# Sum of 10 numbers
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

In [8]:
# Multiplication Table of 2
i=1
Prod=2
while i<=10:
    Prod=i*2
    print("2","*",i,"=",Prod)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
# Multiplication Table
i=1
Prod=int(input("Enter the number "))
n=Prod
while i<=10:
    Prod=i*n
    print(n,"*",i,"=",Prod)
    i=i+1

Enter the number 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [4]:
# Even numbers from 1 to 10
i=1
while i<=10:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10

In [15]:
# Factorial of a Number
i=int(input("Enter the number "))
Factorial=i
i=i-1
while i!=0:
    Factorial=Factorial*i
    i=i-1
print(Factorial)

Enter the number 6
720

In [2]:
# If n=5, print 12345
number=int(input("Enter the number "))
i=1
while i<=number:
    print(i,end="")
    i=i+1

Enter the number 5
12345

# For Loop

In [1]:
# Print 0 to 9 using For Loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
# Print Hello 10 times
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
# Sum of 1 to 10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [3]:
# Reverse of a 3 digit number
num=int(input("Enter the number to be reversed "))
rev=0
while num>0:
    rem=num%10
    rev=(rev*10)+rem
    num=num//10
print(rev)

Enter the number to be reversed 345
543

In [8]:
# Sum of a Number and its Reverse
num=int(input("Enter the number to be reversed:"))
rev=0
temp=num
while num>0:
    rem=num%10
    rev=(rev*10)+rem
    num=num//10
print("Reversed number is:",rev)
print(temp,"+",rev,"=",temp+rev)

Enter the number to be reversed:1234
Reversed number is: 4321
1234 + 4321 = 5555

In [32]:
# Armstrong Number
Number=int(input("Enter the number "))
string=str(Number)
i=len(string)
Armstrong=0
Temp=Number
while Temp>0:
    Digit=Temp%10
    Armstrong=(Digit**i)+Armstrong
    Temp=Temp//10
if Number==Armstrong:
    print("Number is Armstong")
else:
    print("Number is not Armstrong")

Enter the number 135
Number is not Armstrong

In [12]:
# Palindrome
num=int(input("Enter the number: "))
rev=0
temp=num
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print("The reversed number is:",rev)
if temp==rev:
    print("It is a palindrome")
else:
    print("It is not a palindrome")

Enter the number: 5678
The reversed number is: 8765
It is not a palindrome

In [24]:
# Fibonacci Sequence
n=int(input("Enter the range: "))
a=0
b=1
sum=0
for i in range(n):
    print(sum)
    a=b
    b=sum
    sum=a+b

Enter the range: 10
0
1
1
2
3
5
8
13
21
34

In [17]:
n=int(input("Enter the number: "))
flag=0
if n>1:
    for i in range(2,n):
        if n%i==0:
            flag=1
            break
if flag==0:
    print("Prime number")
else:
    print("Not prime number")

Enter the number: 9
Not prime number

# Nested Loop

In [24]:
# Pyramid
for i in range(6):        # Outer loop
    for j in range(i):    # Inner loop
        print("*",end="")
    print()

*
**
***
****
*****

In [9]:
# Pyramid
for i in range(5):        # Outer loop
    for j in range(i):    # Inner loop
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD

In [39]:
# Pyramid
for i in range(5):        # Outer loop
    for j in range(5-i):    # Inner loop
        print(5-i,end="")
    print()

55555
4444
333
22
1

In [36]:
# Pyramid
for i in range(6):        # Outer loop
    for j in range(6-i):    # Inner loop
        print(j,end="")
    print()

012345
01234
0123
012
01
0

In [41]:
print("Anza")
print()
print("Ummer")

Anza

Ummer

# Break

In [42]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

# For Loop with Else

In [ ]:
for i in range(10):